* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Glegoo', serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
}
a:link {	
	background-color: transparent;
	text-decoration: none;
}
#about-me ~ p{
	text-justify: auto;
}
#navbar li{

	list-style: none;
	padding-left: 10px;
	font-weight: bolder;
	}

#landing {
	background-image: url(./images/feather.jpg);
	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;

}

#img-projects {
	border-radius:40%;
	border-color: black;
}


#projects {
	background-image: url(https://t3.ftcdn.net/jpg/02/72/39/86/360_F_272398653_UYMC2R718ltLcRbbnqUsgvZftnTqSzwn.jpg);
	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
}

#profile {
	border-radius: 4px;
}

#title-tools {
	text-align: center;
}

#link {
	text-align: center;
}

#form {
	text-align: center;
	margin: 2px;
	padding: 2px;
}
#contact {
	background-image: url(./images/feather.jpg);
	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
}


button {
	color: blue;
	background-color: transparent;
	border: none;

}

