* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /* Adjust the size of the hamburger button */
  .navbar-toggler {
    width: 60px; /* Set the desired width */
    height: 60px; /* Set the desired height */
    padding: 10px; /* Adjust padding to center the icon within the button */
    background-color: transparent; /* Ensure the button background is transparent */
    border: none; /* Remove any border */
  }

.navbar-list {
    list-style: none;
}
.navbar {
    margin: 0;
    padding: 0;  
}
.navbar li {
    margin-top: 10px;
    margin-right: 20px;
}

nav {
    margin: 0;
    padding: 0;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    color: ghostwhite;
}
#contact-a {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	position: relative;
}

#profile-image {
    border-radius: 70%;
    max-width: 80%;
    height: 80%;
}

.profile {
    color: ghostwhite;
    margin: 0;
    padding: 0;
    background-color: #1B5886;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body {
    background-color: dimgray;
}
button {
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: rgba(24, 100, 171, 0.1);
    height: 50px;
    max-width: 100%;
    width: 200px;   
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);

}
.about-box {

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about-me {
    background-image: url("./images/web.jpg");
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    padding: 80px 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.frontend,
.backend,
.fullstack {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.info {
    width: 20px;
    height: 20px;
}

.contact-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact {
    display: flex;
}

#map {
    max-width: 100%;
    height: auto;
}
